#logo_Bar {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 9px;

}
#content1 {
    background-image: url(75th\ Independence\ Day\ Images.jpg);
    height: 90px;
    width: 90px;
    background-size: cover;
}
#content4 {
background-image: url(Premium\ Vector\ _\ A\ logo\ for\ g203\ india\ with\ a\ lotus\ flower\ in\ the\ middle_.jpg);
height: 90px;
width: 90px;
background-size: cover;
}
#content3 {
    width: 500px;
    height: 90px;
}
#collageName{
    font-size: 20px;
    margin-top: 0px;
}
#content2 {
    background-image: url(akgec\ logo.png);
    height: 90px;
    width: 90px;
    background-size: cover;
}
#element_Bar {
height: 50px;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: rgb(8, 8, 8);
color: aliceblue;
font: 1em sans-serif;
font-weight: bold;

}

#bar2{
    width: 100%;
    height: 800px;
    padding-top: 6px;
}
#bar2-1 {
    height: 620px;
    width: 100%;
    background-image: url(NAAC-Banner.png);
    background-size: cover;
    scroll-behavior: smooth;
    
}
#line{
    height: 6px;
    width: 100%;
    margin-top: 270px;
    background-color: rgb(203, 129, 44);
}
#bar2-2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}
#bar2-3 {
    text-align: center;
    padding-top: 50px;
    
}
#bar2-4 {
    height: 300px;
    width: 500px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;
    
    
}
#img {
    
    background-image: url(download.jpg);
    height: 300px;
    width: 550px;
    background-size: cover;
    margin-left: 10px;
}